<br>
<br>
<br>
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#</td>
                    <td>Marca producto</td>
                    <td>Modelo producto</td>
                    <td>Precio producto</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>