<section id="register" class="mb-5 mt-5">
    <div class="container">
      <div class="row">
  
        <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
          <div class="card_register">
            <div class="card">
              <div class="card-body text-center">
                <form #formRegister="ngForm" (ngSubmit)="onAddUser()">
                  <h1 class="h3 mb-3 font-weight-normal">Registrarse</h1>
                  <div class="alert alerot-danger" role="alert" *ngIf="isError">
                    {{msgError}}
                  </div>
      
                  <div class="form-group">
                    <input type="email" #email="ngModel" name="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" required
                      minlength="8">
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="email.touched && !email.valid">
                    <div *ngIf="email.errors.required">Campo email es obligatorio</div>
                    <div *ngIf="email.errors.minlength">Campo email debe contener al menos 8 caracteres</div>
                  </div>
                  <div class="form-group">
                    <input type="password" #password="ngModel" name="pass" class="form-control" placeholder="Contraseña" [(ngModel)]="user.password"
                      required minlength="5" maxlength="10">
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="password.touched && !password.valid">
                    <div *ngIf="password.errors.required">Campo contraseña es obligatorio</div>
                    <div *ngIf="password.errors.minlength">Campo contraseña debe contener al menos 5 caracteres</div>
                  </div>
                  <button type="submit" class="btn btn-lg btn-primary btn-block">Registrarse</button>
                  <div class="form-group">
                    <a routerLink="/user/login" class="form-control login-user">Ya tienes una cuenta?</a>
                  </div>
                  <div class="form-group">
                      <button class="btn btn-block btn-social btn-facebook" (click)="onLoginFacebook()">
                        <span class="fa fa-facebook"></span> Facebook</button>
                      <button class="btn btn-block btn-social btn-google" (click)="onLoginGoogle()">
                        <span class="fa fa-google"></span>
                         Google</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>